maxClientCnxns=50

# The number of milliseconds of each tick
tickTime={{ zookeeper_tick_time }}
# The number of ticks that the initial
# synchronization phase can take
initLimit={{ zookeeper_init_limit }}
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit={{ zookeeper_sync_limit }}

dataDir={{ zookeeper_data_dir }}
dataLogDir={{ zookeeper_log_dir }}
clientPort={{ zookeeper_client_port }}

{% for host in zookeeper_hosts %}
#server.{{loop.index}}={{host}}:2888:3888
{% endfor %}
